  <div class="title-bar">
    <h1>XXX FOODSTERDAM XXX</h1>
  </div>
  <div class="wrapper">
    <div class="content">
    <%= render partial: "restaurants-form" object: @restaurant %>
    </div>
  </div>